*{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: hsl(0, 0%, 90%);
}
.layout{
    display: flex;
}
.calculator-box{
    margin-top: 4rem;
    height: 750px;
    width: 660px;
background-color: hsl(0, 0%, 90%);
border-radius: 30px;
}
.box-title{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2rem;
    color: hsl(60, 10%, 19%);
}
.results-box{
    border: none;
    font-size: 60px;
    color: hsl(0, 0%, 100%);
    margin-left: 1.5rem;
    height: 170px;
    width: 600px;
    background-color: hsl(0, 0%, 93%);
}
.theme-section{
    margin-top: 1rem;
    margin-left: 340px;
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color:hsl(60, 10%, 19%);
}
.head-layout{

    display: flex;
align-items: center;
}
.theme-toggle{
    margin-top: 5px;
    margin-left: 38px;
    width: 18px;
    height: 18px;
    background-color: hsl(25, 98%, 40%);
    border-radius: 300px;
}
.themes{
    margin-left: 2rem;
    border-radius: 50px;
    width: 90px;
    height: 30px;
    background-color: hsl(0, 5%, 81%);
}
.themes-selection{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-size: 15px;
    color: hsl(60, 10%, 19%);
}
.themes-layout{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.numbers-line{
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.numbers-calculator{
    border-radius: 10px;
    height: 450px;
    width: 600px;
    background-color:hsl(0, 5%, 81%);
    margin-left: 1.5rem;
    margin-top: 1rem;
}


article{
    gap: 1.3rem;
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butoes1{
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: hsl(45, 7%, 89%);
    border-bottom: 5px solid hsl(35, 11%, 61%);
    width: 120px;
    height: 60px;
    border-radius: 12px;
    font-size: 40px;
    color: hsl(222, 26%, 31%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.butoes2{ 
    border: none;
    cursor: pointer;
    background-color: hsl(45, 7%, 89%);
    border-bottom: 5px solid hsl(35, 11%, 61%);
    width: 120px;
    height: 60px;
    border-radius: 12px;
    font-size: 40px;
    color: hsl(222, 26%, 31%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.butoes3{
    border: none;
    cursor: pointer;
    background-color: hsl(45, 7%, 89%);
    border-bottom: 5px solid hsl(35, 11%, 61%);
    width: 120px;
    height: 60px;
    border-radius: 12px;
    font-size: 40px;
    color: hsl(222, 26%, 31%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.butoes4{
    border: none;
    border-bottom: 5px solid hsl(35, 11%, 61%);
    cursor: pointer;
    background-color: hsl(45, 7%, 89%);
    width: 120px;
    height: 60px;
    border-radius: 12px;
    font-size: 40px;
    color: hsl(222, 26%, 31%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.engual{
    border: none;
    cursor: pointer;
    color:  hsl(0, 0%, 100%);
    border-bottom: 5px solid hsl(25, 99%, 27%);
    background-color:hsl(25, 98%, 40%);
    width: 240px;
    height: 60px;
    border-radius: 6px;
    font-size: 25px;
}
.reset{
 
    border: none;
    cursor: pointer;
    border-bottom: 5px solid hsl(185, 58%, 25%);
    color:  hsl(0, 0%, 100%);
    background-color:   hsl(185, 42%, 37%);
    width: 280px;
    height: 60px;
    border-radius: 6px;
    font-size: 20px; 
}
.del{
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
    border-bottom: 5px solid hsl(185, 58%, 25%);
    color:  hsl(0, 0%, 100%);
    background-color:   hsl(185, 42%, 37%);
    width: 120px;
    height: 60px;
    border-radius: 12px;
    font-size: 20px; 
}
.direcionamento{
    font-size: 100px;
    color: hsl(6, 63%, 50%);
}